
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}

body {
  background-color: #594b76;
}
h1 {
  font-family: Arial;
  color: #f0e5f1;
}

.mid-img{
  width: 600px;
}


.sm-img{
  width: 300px;
}
