.Gothic {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body{
  background-color: #FFFFE4;
}

h1{
  text-align: center;
}


.mid-img{
  width: 600px;

}


.sm-img{
  width: 300px;
}
